<footer role='content-info'>
  <div class='footer-logo'>
    <a href='http://microbiomegreenrevolution.org' target='_blank'>
      <img src='{{ site.baseurl }}/assets/images/branding/mgr_logo_white.png'
        alt='Digital Humanities Footer Logo'>
    </a>
  </div>
  <div class='footer-content'>
    <div>Department of Life Sciences, Silwood Park</div>
    <div>Imperial College London</div>
    <div>Buckhurst Rd, Berks SL5 7PY, UK</div>
    <div>
      <a href='mailto:{{ site.email }}'>{{ site.email }}</a>
    </div>
  </div>
</footer>
