{% if include.header_color %}
<header class='gray-header' style="padding-left: 15px; box-sizing: border-box;">
{% else %}
<header style="padding-left: 15px; box-sizing: border-box;">
{% endif %}
  {% include header/header_logo.html %}
  <div class='nav-links-container' role='navigation' style="margin-left: -10px;">
    {% include header/navicon.html %}
    <div class='nav-links'>
      <div class='nav-links-mobile'>
        <span class='close-mobile-header'>✕</span>
      </div>
      <div class='link projects'>
        <a href='{{ site.baseurl }}/about.html' role='menuitem' aria-label='about'>About</a>
      </div>
      <div class='link projects'>
        <a href='/team.html' role='menuitem' aria-label='team'>Our Team</a>
      </div>
      <div class='link projects'>
        <a href='/progress.html' role='menuitem' aria-label='progress'>Progress</a>
      </div>
      <div class='link projects'>
        <a href='/resources.html' role='menuitem' aria-label='resources'>Resources</a>
      </div>
      <div class='link projects'>
        <a href='/contact.html' role='menuitem' aria-label='contact'>Contact Us</a>
      </div>


    </div>
  </div>
</header>
